
    ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: Yellow;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

li{
  
  text-align: center;
  display: block;
  width: 60px;
  padding: 14px 16px;
  text-decoration: none;
  display: inline;
}
li a:hover {
  background-color: Yellow;
}
h1{
  color: black;
  text-align: center;
}
Body{
  background-color: salmon;
  }

